@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-image{
    background-position: center;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    
}



.logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 80px;
        visibility: visible;
    }
}

.qrcode-box{
    min-width: 110px;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    min-width: 800px;
}