@tailwind base;
@tailwind components;
@tailwind utilities;

.layout{
    @apply bg-yellow-50 flex justify-center items-start;
   
    box-sizing: border-box;
 
   
    .box{
        min-width: 1000px;
       
    }

    .print-btn{
        @apply flex justify-center items-center text-gray-900 bg-gradient-to-r
        from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none 
        focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
    }
    .back-btn{
        @apply flex justify-center items-center text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2;
    }
  
}