@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    @apply px-[0.1rem] sm:px-[2rem] md:px-[4rem] lg:px-[6rem] xl:px-[7rem] 2xl:px-[8rem] w-full;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.layout{
    @apply bg-yellow-50 flex justify-center items-start;
    min-height: 100vh;
    min-width: 100vw;
   
    .box{
        min-width: 1000px;
    }

  

    table{
        width: 100%;
        thead{
            th{
              background-color: #fef0ff;
            }
        }
        tbody{
            tr{
                td{
                    @apply p-1 text-center;
                }
                td:nth-child(even){
                    @apply bg-gray-100
                }
            }
        }
    }

    @media print {
        .box{
            width: 100%;
            padding: 10px;
        } 
        table{
            
        }

    }
}


.payment-invoice{
    @apply  w-full px-[0.1rem] sm:px-[2rem] md:px-[4rem] lg:px-[6rem] xl:px-[7rem] 2xl:px-[15rem];
    font-family: 'Montserrat', Helvetica, sans-serif;
}