

.dashboard {

    .personal-info{
        @apply p-4 bg-white;
        ul{
            @apply grid grid-cols-[130px_10px_auto] md:grid-cols-[180px_10px_auto] hover:bg-lime-50 font-medium border border-gray-400;
            &:not(&:last-child){
                border-bottom: none;
            }
            li{
                line-height: 40px;
                &:nth-child(1){
                    @apply font-semibold text-gray-700 pl-2 flex justify-end items-center;
                }
                &:nth-child(2){
                    @apply font-semibold text-gray-700;
                }

                &:nth-child(3){
                    @apply font-semibold text-gray-900 pl-3;
                }
            }
        }
    }
    .payment-info{

        ul.pay-box-list{
            margin-top: 50px;
            >li{
                @apply border border-blue-600 mb-3 p-2 rounded-lg;
                ul{
                    @apply grid grid-cols-[120px_10px_auto] hover:bg-lime-50 font-medium;
                    li{
                        line-height: 30px;
                        padding: 5px 0;
                        text-align: left;
                        &:nth-child(1){
                            @apply font-semibold text-gray-700 pl-2;
                        }
                        &:nth-child(2){
                            @apply font-semibold text-gray-700;
                        }
        
                        &:nth-child(3){
                            @apply font-semibold text-gray-900 pl-3;
                        }
                    }
                }
            }
        }
       
    }

    .course-status-list{
        .status-item{
            @apply border border-purple-500 flex justify-between items-center p-3 rounded-lg bg-lime-100 mt-2;

            span{
                @apply bg-yellow-100 text-yellow-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded border border-fuchsia-500 ring-2 ring-fuchsia-200 dark:bg-yellow-900 dark:text-yellow-300;
            }
        }
    }
    .fee-info{
        @apply grid grid-cols-2 mt-4 gap-2;
        .fee-item{
            @apply border border-rose-400 rounded-md bg-lime-200 flex flex-col items-center justify-center px-2 py-4;
            >div{
                &:first-child{
                    @apply text-xl;
                }
                &:last-child{
                    @apply text-2xl;
                }
            }
        }
    }
}